<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Browser1" value="Firefox"/>
		<add key="ElementTimeoutSec" value="30"/>
		<add key="StartProxy" value="False" />
		<add key="UseProxy" value="False" />

		<add key="RunOnRemoteHost" value="False" />
		<add key="HostIp" value="localhost" />
		<add key="LaunchBrowser" value="True" />

		<add key="HtmlOnError" value="True" />
		<add key="ScreenshotOnError" value="True" />
		<add key="VideoRecordingOnError" value="True" />
		<add key="CommandLogging" value="True" />
		<add key="ActionLogging" value="True" />

		<add key="HighlightFoundElements" value="True" />
	</appSettings>
</configuration>